*{
    margin : 0;
    padding : 0;
    background-color : black;
}

header{
    width : 100%;
    height : 3.5cm;

    display : flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.main-bar{
    width : 80%;
    height : 1.5cm;
    background : transparent;
    backdrop-filter: blur(5px);
    display : flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    padding : 0.7%;
    z-index: 100;
    gap : 1%;

    border-radius: 5px;
}

.nav-content{
    display : flex;
    justify-content: space-around;
    gap : 2rem;
    align-items: center;
    padding : 0.5;
    border-radius : 1px;
}

#logo{
    color : rgb(233, 233, 233);
    font-weight: light;
    font-size : 25px;
    padding : 8px;
    background-color: rgb(0, 0, 0);
}

#navigation-bar{
    padding : 10px;
    background : transparent;
    backdrop-filter: blur(2px);
}

#navigation-bar a{
    color : white;
    text-decoration : none;
    font-weight : none;
    font-size : 16px;
}


#home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width : 100%;
}

body{
    background :linear-gradient(90deg,var(rgb(0, 255, 255)),var(red));
}

.hero-section{
    display : flex;
    justify-content: space-between;
    align-items: center;

    padding : 3%;

    height : 80vh;
    width: 80%;
    /* background : url(nova.png); */
    
    border-radius: 10%;
}

.hero-text{
    background: rgb(0, 0, 0);
    height : 10cm;
    width : 56%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 4rem;
    border-radius: 10px;
}

.hero-text h1{
    margin-left: 20px;
    background : linear-gradient(to right, red, blue);
    background-clip : text;
    color : transparent;
    font-size : 80px;
}

.hero-text p{
    color : rgb(49, 168, 102);
    font-size : 15px;
    z-index: 100;
}

#img-container{
    background-color: rgb(0, 0, 0);
    padding : 10px;
    border-radius: 5%;
}

img{
    height : 16cm;
    width: 17cm;
    border-radius: 5%;

}

#projects{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 25cm;

    background-color: rgb(0, 0, 0);

}

.projects-card-img{
    height : 17cm;
    width : 16cm;
    border-radius : 5px;
}

#case{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding : 1cm;

    width : 16.2cm;
    height : 17cm;

    background-color: rgb(167, 255, 227);
    gap : 2.5rem;
    overflow-x:auto;
    /* overflow-y: hidden; */
    border-radius: 25px;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width :16cm;
    background-color: rgb(169, 255, 40);
    height : 16cm;
    padding: 1%; 

    gap : 1rem;
    scroll-snap-align: center;
}


.fullpage-wrapper {
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
}
.reactor-container {
  width: 300px;
  height: 300px;
  margin: auto;
  border: 1px dashed #888;
  position: relative;
  border-radius: 50%;
  background-color: #384c50;
  border: 1px solid rgb(18, 20, 20);
  box-shadow: 0px 0px 32px 8px rgb(18, 20, 20), 0px 0px 4px 1px rgb(18, 20, 20) inset;
}

.reactor-container-inner {
  height: 238px;
  width: 238px;
  background-color: rgb(22, 26, 27);;
  box-shadow: 0px 0px 4px 1px #52FEFE;
}

.circle {
  border-radius: 50%;
}
.abs-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.core-inner {
  width: 70px;
  height: 70px;
  border: 5px solid #1B4E5F;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 7px 5px #52FEFE, 0px 0px 10px 10px #52FEFE inset;
}
.core-outer {
  width: 120px;
  height: 120px;
  border: 1px solid #52FEFE;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 2px 1px #52FEFE, 0px 0px 10px 5px #52FEFE inset;
}
.core-wrapper {
  width: 180px;
  height: 180px;
  background-color: #073c4b;
  box-shadow: 0px 0px 5px 4px #52FEFE, 0px 0px 6px 2px #52FEFE inset;
}
.tunnel {
  width: 220px;
  height: 220px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px 1px #52FEFE, 0px 0px 5px 4px #52FEFE inset;
}
.coil-container {
  position: relative;
  width: 100%;
  height: 100%;
  animation: 10s infinite linear reactor-anim;
  transform : 3s ease-in;
}

.coil-container:hover{
    animation: 1s infinite linear reactor-anim;
}
.coil {
  position: absolute;
  width: 30px;
  height: 20px;
  top: calc(50% - 110px);
  left: calc(50% - 15px);
  transform-origin: 15px 110px;
  background-color:#073c4b;
  box-shadow: 0px 0px 5px #52FEFE inset;
}
.coil-1 {
  transform: rotate(0deg);
}
.coil-2 {
  transform: rotate(45deg);
}
.coil-3 {
  transform: rotate(90deg);
}
.coil-4 {
  transform: rotate(135deg);
}
.coil-5 {
  transform: rotate(180deg);
}
.coil-6 {
  transform: rotate(225deg);
}
.coil-7 {
  transform: rotate(270deg);
}
.coil-8 {
  transform: rotate(315deg);
}

@keyframes reactor-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
